# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage
*.lcov
cov_profile

# Node / NPM
node_modules/
.npmrc
package-lock.json
package.json

# Deno / JSR
deno.lock

# Bun
bunfig.toml

# Local
lab/
lab.ts
mydatabase*/
stress-test/

# Pup data
.pup
